<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro de Compras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_registro_usuario.css') }}">
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow container-form">
            <div class="form-header">
                <img src="/static/imagenes/ventas.png" alt="cliente" class="img-fluid rounded-circle">
                <h5 class="mt-3">REGISTRO DE COMPRAS</h5> 
                <!-- {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} <div class="alert alert-{{ category }}">{{ message }}</div> {% endfor %} {% endif %} {% endwith %} -->
            </div> 
            <form action="/compras/nuevo" method="POST">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="cod_cate" class="form-label">Categoría:</label>
                        <select id="cod_cate" class="form-select" required onchange="filtrarProductosYProveedores()">
                            <option value="">Seleccionar</option>
                            {% for categoria in categorias %}
                            <option value="{{ categoria.cod_cate }}" data-proveedor="{{ categoria.cod_prov }}">{{ categoria.nombre_cate }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="id_pro" class="form-label">Producto:</label>
                        <select id="id_pro" class="form-select" name="id_pro" required onchange="mostrarPrecio1()">
                            <option value="">Seleccionar</option>
                            {% for producto in productos %}
                            <option value="{{ producto.id_pro }}" data-categoria="{{ producto.cod_cate }}" data-precio="{{ producto.precio_unitario }}">{{ producto.nombre_pro }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="stock" class="form-label">Stock:</label>
                        <input type="number" class="form-control" id="stock" name="stock" min="0" required readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="precio_unitario" class="form-label">Precio Unitario:</label>
                        <input type="number" class="form-control" id="precio_unitario" name="precio_unitario" required readonly>
                    </div>
                </div>
    
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="cantidad_unidad" class="form-label">Cantidad Unidad:</label>
                        <input type="number" class="form-control" id="cantidad_unidad" name="cantidad_unidad" min="0" required oninput="calcularStockYTotal()">
                    </div>
                    <div class="col-md-6">
                        <label for="cantidad_caja" class="form-label">Cantidad Caja:</label>
                        <input type="number" class="form-control" id="cantidad_caja" name="cantidad_caja" min="0" required oninput="calcularStockYTotal()">
                    </div>
                </div>
    
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="precio_caja" class="form-label">Precio Caja:</label>
                        <input type="number" class="form-control" id="precio_caja" name="precio_caja" min="0" step="0.01" required oninput="calcularStockYTotal()">
                    </div>
                    <div class="col-md-6">
                        <label for="fecha_compra" class="form-label">Fecha de Compra:</label>
                        <input type="datetime-local" class="form-control" name="fecha_compra" required>
                    </div>
                </div>
    
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="cod_prov" class="form-label">Proveedor:</label> 
                        <select id="cod_prov" class="form-select" name="cod_prov" required> 
                            <option value="">Seleccionar</option>
                            {% for proveedor in proveedores %}
                            <option value="{{ proveedor.cod_prov }}">{{ proveedor.nombre_prov }}</option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>
    
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="precio_total" class="form-label">Precio Total:</label>
                        <input type="number" class="form-control" id="precio_total" name="precio_total" required readonly>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <button class="btn btn-success w-100">Registrar Compra</button>
                    </div>
                    <div class="col-md-6">
                        <a href="/compras" class="btn btn-secondary w-100 mt-2 mb-2">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
