<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>registro_proveedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_registro_usuario.css') }}">
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow" style="width:100% ; max-width:400px;">
            <div class="text-center mb-4">
                <img src="/static/imagenes/proveedor.jpg" alt="cliente" class="img-fluid rounded-circle" style="width: 100px; height: 100px;">
                <h5 class="mt-3">REGISTRO PROVEEDOR</h5> </div>
           
                
            <form action="{{url_for('guardar_proveedor')}}"method="POST">
                <div class="mb-3">
                    <label for="nombre_prov" class="form-label">Proveedor:</label>
                    <input type="text"class="form-control"name="nombre_prov"required>
                </div>
                <div class="mb-3">
                    <label for="telefono_prov" class="form-label">Teléfono:</label>
                    <input type="number"class="form-control"name="telefono_prov" min="0" required>
                </div>

                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección:</label>
                    <input type="text"class="form-control"name="direccion"required>
                </div>
                <button class="btn btn-success w-100">Registar Proveedor</button>
                <a href="/proveedores" class="btn btn-secondary w-100  mt-2 mb-2">Cancelar</a>
            </form>
        </div>
        
    </div>
   





    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

