body
{
padding-top: 0px; /* Ajusta este valor según la altura de tu navbar */ 
background-image: url('../imagenes/fondo_login.jpg'); /* Ruta a la imagen de fondo */ 
background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */ 
background-repeat: no-repeat; /* Evita que la imagen se repita */ 
background-position: center; /* Centra la imagen */
height:750px;
color:#ffffff;
}
/* body .h2{
    color:#ffffff;
} */
/* Estilo para centrar y redondear la imagen del avatar */ 
.img-fluid {
    border: 2px solid #ffffff;
    padding: 5px; 
    background-color: #ffffff;
    border-radius: 5%;
 }
 .volver 
 { float: right; margin-right: 20px; /* Ajusta el margen según sea necesario */ }