/* Sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(145, 80, 189, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    color: #fff;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f9fa;
    display: block;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #8e71d1;
}

.sidebar .navbar-brand {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

/* Image in Sidebar */
.sidebar img {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Main content */
.main-content {
    margin-left: 250px;
    padding: 20px;
    color: #fff;
}

/* Floating Images */
.floating-images {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.floating-images img {
    width: 300px;
    height: 300px;
    margin: 20px;
    transition: transform 0.5s;
    border-radius: 10px;
}

.floating-images img:hover {
    transform: scale(1.1);
}

/* Body Background */
body {
    background-image: url('/static/imagenes/farmacia2.jpg');
    background-size: cover;
    background-attachment: fixed;
}


/*estilo extra NAVAR*/

/* Estilo general de los enlaces */
a[data-bs-toggle="collapse"] {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #343a40; /* Gris oscuro */
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo de los íconos */
a[data-bs-toggle="collapse"] i {
    font-size: 18px;
    margin-right: 10px; /* Espaciado entre ícono y texto */
    color: #6c757d; /* Color gris medio */
}

/* Efecto hover */
a[data-bs-toggle="collapse"]:hover {
    background-color: #f8f9fa; /* Fondo claro */
    color: #495057; /* Color de texto más oscuro */
}

a[data-bs-toggle="collapse"]:hover i {
    color: #0d6efd; /* Cambia el color del ícono a azul */
}

/* Para ítems activos */
a[data-bs-toggle="collapse"][aria-expanded="true"] {
    background-color: #e9ecef; /* Fondo gris claro */
    color: #266dd6; /* Azul para el texto */
}

a[data-bs-toggle="collapse"][aria-expanded="true"] i {
    color: #0d6efd; /* Azul para el ícono */
}


/* Submenu items con puntos */
.submenu-item {
    padding-left: 30px; /* Indentación */
    font-size: 16px;
    color: #fcfbfb;
    display: block;
    text-decoration: none;
    transition: color 0.3s;
}

.submenu-item:hover {
    color: #fffeff; /* Cambia de color al pasar el cursor */
}
