<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script> 
   
</head>
<body >
    <!-- Sidebar -->
    <div class="sidebar">
        <a class="navbar-brand" href="/admin/dashboard">"EL BUEN DOCTOR"</a>
        <img src="/static/imagenes/doctor.avif" alt="Sidebar Image">
        
        <a href="#" data-bs-toggle="collapse" data-bs-target="#clientMenu" aria-expanded="false">Clientes</a> 
        <div class="collapse" id="clientMenu"> 
          <a href="/clientes/nuevo" class="pl-4">Agregar Clientes</a> 
          <a href="/clientes" class="pl-4">Lista de Clientes</a> 
        </div>

        <a href="#" data-bs-toggle="collapse" data-bs-target="#supplierMenu" aria-expanded="false">Proveedores</a> 
        <div class="collapse" id="supplierMenu"> 
          <a href="/proveedores/nuevo" class="pl-4">Agregar Proveedores</a> 
          <a href="/proveedores" class="pl-4">Lista de Proveedores</a> 
        </div>

        <a href="#" data-bs-toggle="collapse" data-bs-target="#productMenu" aria-expanded="false">Productos</a> 
        <div class="collapse" id="productMenu"> 
          <a href="/productos/nuevo" class="pl-4">Agregar Producto</a> 
          <a href="/productos" class="pl-4">Lista de Productos</a> 
        </div>

        <a href="#" data-bs-toggle="collapse" data-bs-target="#categoryMenu" aria-expanded="false">Categorias</a> 
        <div class="collapse" id="categoryMenu"> 
          <a href="/categorias/nuevo" class="pl-4">Agregar Categoria</a> 
          <a href="/categorias" class="pl-4">Lista de Categorias</a> 
        </div>
        <a href="#" data-bs-toggle="collapse" data-bs-target="#purchaseMenu" aria-expanded="false">Compras</a> 
        <div class="collapse" id="purchaseMenu"> 
          <a href="/compras/nuevo" class="pl-4">Agregar Compra</a> 
          <a href="/compras" class="pl-4">Lista de Compras</a> 
        </div>

        <a href="#" data-bs-toggle="collapse" data-bs-target="#saleMenu" aria-expanded="false">Ventas</a> 
        <div class="collapse" id="saleMenu"> 
          <a href="/ventas/nuevo" class="pl-4">Agregar Venta</a> 
          <a href="/ventas" class="pl-4">Lista de Ventas</a> 
        </div>

        <a href="#" data-bs-toggle="collapse" data-bs-target="#userMenu" aria-expanded="false">Usuario</a>
        <div class="collapse" id="userMenu">
            <a href="/register" class="pl-4">Registrar</a>
            <a href="/usuarios" class="pl-4">Lista de Usuarios</a>
        </div>
        <a href="/logout">Salir del sistema</a>
    </div>
   
    <!-- Main content -->
    <div class="main-content">
        <div class="floating-images">
            <img src="/static/imagenes/producto3.jpg" alt="Imagen 1">
            <img src="/static/imagenes/img2.png" alt="Imagen 2">
            <img src="/static/imagenes/img7.jpg" alt="Imagen 3">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
